@model OnlineMovieStoreV2.ViewModels.MovieFormViewModel
@{
    ViewBag.Title = "MovieForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>MovieForm</h2>

@using (Html.BeginForm("Save", "Movie"))
{
    @Html.ValidationSummary(true, "Please fix the following.")
    <div class="form-group">
        @Html.LabelFor(x => x.Name)
        @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.Name)
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.ReleaseDate)
        @Html.TextBoxFor(x => x.ReleaseDate, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.ReleaseDate)
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.NumberInStock)
        @Html.TextBoxFor(x => x.NumberInStock, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.NumberInStock)
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.GenreId)
        @Html.DropDownListFor(x => x.GenreId, new SelectList(Model.Genres, "GenreId", "Name"), new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.GenreId)
    </div>
    @Html.HiddenFor(m => m.Id)
    @Html.AntiForgeryToken()
    <button type="submit">Save</button>
}

@section scripts{
    @Scripts.Render("~/bundles/jquery")
}
